* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #e1eeff;
  align-items: center;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.button1 {
  background-color: #e1eeff;
  color: #0360d9;
  padding: 12px 24px;
  border-radius: 20px;
}

.button2 {
  color: #ffffff;
  background-color: #0360d9;
  padding: 12px 24px;
  border-radius: 20px;
}

.container-med {
  background-color: #e1eeff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.conteudo-med {
  padding: 40px;
  margin: auto;
  font-family: IBM Plex Sans;
  width: 400px;
}

form {
    display: flex;
    align-items: center;
    border: none;
}

.seletores {
background-color: #ffffff;
border-radius: 20px;
padding: 20px;

}

#enviar {
    background-color: #0360d9;
    border-radius: 100px;
    padding: 10px;
    border: none;
}

#med {
  max-width: 80%;
}
